<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>God Mode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
</head>
<header id="top"></header>
<body>

<div id="loading" class="load">
    <div class="loading-dialog">
        <div class="loading-body">
            <h1 class="title">Loading</h1>
            <div class="rainbow-marker-loader"></div>
        </div>
    </div>
</div>

<a href="#top" id="scrollBtn" title="Go to top"><i class="fa fa-angle-double-up w3-large"></i></a>

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-double-up w3-large"></i></button>
<div class="w3-top">
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"><i class="fa fa-home"></i></a>

        <a href="#topics" class="w3-button w3-hide-small w3-padding-large w3-hover-orange">
            Topics
        </a>
        <a href="#categories" class="w3-button w3-hide-small w3-padding-large w3-hover-teal">
            Categories
        </a>
        <a href="#domains" class="w3-button w3-hide-small w3-padding-large w3-hover-deep-purple">
            Domains
        </a>
    </div>
</div>
<div id="topics" class="w3-container w3-padding-64">
    {% for message in messages %}
    {% if message['text'] != '' %}
    <div class="alert alert-warning alert-dismissible" style="margin-top:-20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
    </div>
    {% endif %}
    {% endfor %}
    <div class="w3-center">
        <h2>Topics</h2>
    </div>

    <table class="w3-table-all w3-centered">
        <tr class="w3-orange">
            <th scope="col">Title</th>
            <th scope="col">Link</th>
            <th scope="col">Category</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        {% for topic in topics %}
        <tr>
            <form action="/edit_topic" method="POST" target="dummyframe">
                <td data-label="Title"><input class="w3-input" type="text" maxlength="200" name="Title" placeholder="Enter title" required
                           value="{{topic['title']}}"></td>
                <td data-label="URL"><input class="w3-input" type="text" maxlength="200" name="URL" placeholder="Enter URL link" required
                           value="{{topic['link']}}"></td>
                <td data-label="Category">
                    <select name="Categories" class="w3-select">
                        {% for category in categories %}
                        {% if category['id'] == topic['category_id'] %}
                        <option value="{{category['id']}}" selected>{{category['title']}}</option>
                        {% else %}
                        <option value="{{category['id']}}">{{category['title']}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td data-label="Submit">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-save fa-lg w3-text-green"></i></button>
                </td>
                <input type="hidden" name="id" value="{{topic['id']}}">
            </form>
            <td data-label="Delete"><a class="w3-button w3-medium w3-circle w3-black" data-confirm="Are you sure?" data-method="delete"
                   id="submitLoad"
                   href="/delete_topic/{{topic['id']}}"
                   rel="nofollow"><i class="fa fa-trash fa-lg w3-text-red"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr class="w3-grey">
            <form action="/add_topic" method="POST" id="submitLoad">
                <td data-label="Title"><input class="w3-input" type="text" maxlength="200" name="Title" placeholder="Enter title" required>
                </td>
                <td data-label="URL"><input class="w3-input" type="text" maxlength="200" name="URL" placeholder="Enter URL link"
                           required></td>
                <td data-label="Ccategory">
                    <select name="Categories" class="w3-select">
                        {% for category in categories %}
                        <option value="{{category['id']}}">{{category['title']}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td data-label="Submit" colspan="2">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-plus fa-lg w3-text-green"></i></button>
                </td>
            </form>
        </tr>
    </table>
</div>


<div id="categories" class="w3-container w3-padding-64">
    <div class="w3-center">
        <h2> Categories</h2>
    </div>
    <div class="loader"></div>
    <table class="w3-table-all w3-centered">
        <tr class="w3-teal">
            <th scope="col">Title</th>
            <th scope="col">Icon</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        {% for category in categories %}
        <tr>
            <form action="/edit_category" method="POST" target="dummyframe">
                <td data-label="Title"><input class="w3-input" type="text" maxlength="200" name="Title" placeholder="Enter title" required
                           value="{{category['title']}}"></td>
                <td data-label="Icon"><input class="w3-input" type="text" maxlength="200" name="Icon" placeholder="Enter icon class"
                           required
                           value="{{category['icon']}}" title="Use font-awesome or mfizz"></td>
                <td data-label="Submit">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-save fa-lg w3-text-green"></i></button>
                </td>
                <input type="hidden" name="id" value="{{category['id']}}">
            </form>
            <td data-label="Delete"><a class="w3-button w3-medium w3-circle w3-black" data-confirm="Are you sure?" data-method="delete"
                   id="submitLoad"
                   href="/delete_category/{{category['id']}}"
                   rel="nofollow"><i class="fa fa-trash fa-lg w3-text-red"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr class="w3-grey">
            <form action="/add_category" method="POST" id="submitLoad">
                <td data-label="Title"><input class="w3-input" type="text" maxlength="200" name="Title"
                           placeholder="Enter title to create new category"
                           required></td>
                <td data-label="Icon"><input class="w3-input" type="text" maxlength="200" name="Icon" placeholder="Enter icon class"
                           required
                           title="Use font-awesome or mfizz"></td>
                <td data-label="Submit" colspan="2">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-plus fa-lg w3-text-green"></i></button>
                </td>
            </form>
        </tr>
    </table>
</div>

<div id="domains" class="w3-container w3-padding-64">
    <div class="w3-center">
        <h2>Domains whitelist</h2>
    </div>
    <div class="loader"></div>
    <table class="w3-table-all w3-centered">
        <tr class="w3-deep-purple">
            <th scope="col">Domain</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        {% for domain in domains %}
        <tr>
            <form action="/edit_domain" method="POST" target="dummyframe">
                <td data-label="Domain"><input class="w3-input" type="text" maxlength="200" name="NewDomain" placeholder="Enter domain name"
                           required value="{{domain}}"></td>
                <td data-label="Submit">
                    <input type="hidden" name="OldDomain" value="{{domain}}">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-save fa-lg w3-text-green"></i></button>
                </td>
            </form>
            <td data-label="Delete"><a class="w3-button w3-medium w3-circle w3-black" data-confirm="Are you sure?" data-method="delete"
                   id="submitLoad"
                   href="/delete_domain/{{domain}}"
                   rel="nofollow"><i class="fa fa-trash fa-lg w3-text-red"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr class="w3-grey">
            <form action="/add_domain" method="POST" id="submitLoad">
                <td data-label="Domain"><input class="w3-input" type="text" maxlength="200" name="Domain"
                           placeholder="Enter name to create new domain" required></td>
                <td data-label="Submit" colspan="2">
                    <button class="w3-button w3-medium w3-circle w3-black" type="submit"><i
                            class="fa fa-plus fa-lg w3-text-green"></i></button>
                </td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>