<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Dashboard</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;900&display=swap"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='images/icons/favicon.ico') }}" rel="shortcut icon">
</head>
<body>
<!-- Loading Indicator -->
<div id="loading" class="load">
    <div class="loading-dialog">
        <div class="loading-body">
            <h1 class="title">Loading</h1>
            <div class="rainbow-marker-loader"></div>
        </div>
    </div>
</div>

<!-- Scroll to top button -->
<a href="#top" id="scrollBtn" title="Go to top"><i class="fa fa-angle-double-up w3-large"></i></a>

<!-- Hidden iframe for form submission without page reload -->
<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

<!-- Navigation -->
<div class="w3-top">
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large admin-nav">
        <a class="w3-bar-item w3-button w3-padding-large w3-white" href="/">
            <i class="fa fa-home"></i>
        </a>

        <a class="w3-button w3-hide-small w3-padding-large w3-hover-orange admin-nav-link" href="#topics">
            <i class="fa fa-list-alt"></i> Topics
        </a>
        <a class="w3-button w3-hide-small w3-padding-large w3-hover-teal admin-nav-link" href="#categories">
            <i class="fa fa-tags"></i> Categories
        </a>
        <a class="w3-button w3-hide-small w3-padding-large w3-hover-deep-purple admin-nav-link" href="#domains">
            <i class="fa fa-globe"></i> Domains
        </a>
    </div>
</div>

<!-- Topics Section -->
<header id="top"></header>
<div class="admin-section" id="topics">
    {% for message in messages %}
    {% if message['text'] != '' %}
    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> {{message['text']}}
    </div>
    {% endif %}
    {% endfor %}

    <div class="section-header">
        <h2><i class="fa fa-list-alt"></i> Topics Management</h2>
    </div>

    <div class="admin-card">
        <table class="w3-table-all w3-hoverable admin-table">
            <thead>
            <tr class="w3-orange">
                <th scope="col">Title</th>
                <th scope="col">Link</th>
                <th scope="col">Category</th>
                <th colspan="2" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
            <tr>
                <form action="/edit_topic" method="POST" target="dummyframe">
                    <td data-label="Title">
                        <input class="w3-input admin-input" maxlength="200" name="Title" placeholder="Enter title"
                               required type="text" value="{{topic.name}}">
                    </td>
                    <td data-label="URL">
                        <input class="w3-input admin-input" maxlength="200" name="URL" placeholder="Enter URL link"
                               required type="text" value="{{topic.link}}">
                    </td>
                    <td data-label="Category">
                        <select class="w3-select admin-select" name="Categories">
                            {% for category in categories %}
                            {% if category.category_id == topic.category_id %}
                            <option selected value="{{category.category_id}}">{{category.name}}</option>
                            {% else %}
                            <option value="{{category.category_id}}">{{category.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td data-label="Submit">
                        <button class="admin-btn save-btn" title="Save changes" type="submit">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                    <input name="id" type="hidden" value="{{topic.topic_id}}">
                </form>
                <td data-label="Delete">
                    <a class="admin-btn delete-btn" data-confirm="Are you sure?" data-method="delete" href="/delete_topic/{{topic.topic_id}}"
                       id="submitLoad" rel="nofollow" title="Delete topic">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr class="add-new-row">
                <form action="/add_topic" id="submitLoad" method="POST">
                    <td data-label="Title">
                        <input class="w3-input admin-input" maxlength="200" name="Title" placeholder="Enter title"
                               required type="text">
                    </td>
                    <td data-label="URL">
                        <input class="w3-input admin-input" maxlength="200" name="URL" placeholder="Enter URL link"
                               required type="text">
                    </td>
                    <td data-label="Ccategory">
                        <select class="w3-select admin-select" name="Categories">
                            {% for category in categories %}
                            <option value="{{category.category_id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td colspan="2" data-label="Submit">
                        <button class="admin-btn add-btn" title="Add new topic" type="submit">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

<!-- Categories Section -->
<div class="admin-section" id="categories">
    <div class="section-header">
        <h2><i class="fa fa-tags"></i> Categories Management</h2>
    </div>

    <div class="admin-card">
        <table class="w3-table-all w3-hoverable admin-table">
            <thead>
            <tr class="w3-teal">
                <th scope="col">Title</th>
                <th scope="col">Icon</th>
                <th colspan="2" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <form action="/edit_category" method="POST" target="dummyframe">
                    <td data-label="Title">
                        <input class="w3-input admin-input" maxlength="200" name="Title" placeholder="Enter title"
                               required type="text" value="{{category.name}}">
                    </td>
                    <td data-label="Icon">
                        <div class="icon-preview">
                            <i class="{{category.icon}}"></i>
                            <input class="w3-input admin-input" maxlength="200" name="Icon" placeholder="Enter icon class"
                                   required title="Use font-awesome or mfizz" type="text"
                                   value="{{category.icon}}">
                        </div>
                    </td>
                    <td data-label="Submit">
                        <button class="admin-btn save-btn" title="Save changes" type="submit">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                    <input name="id" type="hidden" value="{{category.category_id}}">
                </form>
                <td data-label="Delete">
                    <a class="admin-btn delete-btn" data-confirm="Are you sure?" data-method="delete" href="/delete_category/{{category.category_id}}"
                       id="submitLoad" rel="nofollow" title="Delete category">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr class="add-new-row">
                <form action="/add_category" id="submitLoad" method="POST">
                    <td data-label="Title">
                        <input class="w3-input admin-input" maxlength="200" name="Title" placeholder="Enter title to create new category"
                               required type="text">
                    </td>
                    <td data-label="Icon">
                        <input class="w3-input admin-input" maxlength="200" name="Icon" placeholder="Enter icon class"
                               required title="Use font-awesome or mfizz" type="text">
                    </td>
                    <td colspan="2" data-label="Submit">
                        <button class="admin-btn add-btn" title="Add new category" type="submit">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Domains Section -->
<div class="admin-section" id="domains">
    <div class="section-header">
        <h2><i class="fa fa-globe"></i> Domains Whitelist</h2>
    </div>

    <div class="admin-card">
        <table class="w3-table-all w3-hoverable admin-table">
            <thead>
            <tr class="w3-deep-purple">
                <th scope="col">Domain</th>
                <th colspan="2" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for domain in domains %}
            <tr>
                <form action="/edit_domain" method="POST" target="dummyframe">
                    <td data-label="Domain">
                        <input class="w3-input admin-input" maxlength="200" name="NewDomain" placeholder="Enter domain name"
                               required type="text" value="{{domain}}">
                    </td>
                    <td data-label="Submit">
                        <input name="OldDomain" type="hidden" value="{{domain}}">
                        <button class="admin-btn save-btn" title="Save changes" type="submit">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                </form>
                <td data-label="Delete">
                    <a class="admin-btn delete-btn" data-confirm="Are you sure?" data-method="delete" href="/delete_domain/{{domain}}"
                       id="submitLoad" rel="nofollow" title="Delete domain">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr class="add-new-row">
                <form action="/add_domain" id="submitLoad" method="POST">
                    <td data-label="Domain">
                        <input class="w3-input admin-input" maxlength="200" name="Domain" placeholder="Enter name to create new domain"
                               required type="text">
                    </td>
                    <td colspan="2" data-label="Submit">
                        <button class="admin-btn add-btn" title="Add new domain" type="submit">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="static/js/main.js"></script>

<!-- Confirmation dialog for delete actions -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Add confirmation dialog for delete buttons
        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', function(e) {
                if (!confirm('Are you sure you want to delete this item?')) {
                    e.preventDefault();
                } else {
                    document.getElementById('loading').style.display = "block";
                }
            });
        });

        // Form submission loading indicator
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function() {
                if (this.id === 'submitLoad') {
                    document.getElementById('loading').style.display = "block";
                }
            });
        });
    });
</script>
</body>
</html>