<!DOCTYPE html>
<html lang="en">
<title>AQA Topics</title>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119547534-1"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-119547534-1', 'auto');
ga('send', 'pageview');











    </script>
</head>
<meta name="description" content="Become a better automation quality assurance engineer right now!"/>
<meta property="og:title" content="AQA Topics"/>
<meta property="og:description" content="Become a better automation quality assurance engineer right now!"/>
<meta property="og:image"
      content="http://worldnews.easybranches.com/uploads/news/2017/11/why-marketing-automation-is-the-future-of-digital-for-brands.jpg"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-mfizz.css') }}">
{% for version in versions %}
<link rel="stylesheet" href="static/css/main.css?version={{version['id']}}">
{% endfor %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% for version in versions %}
<script src="static/js/main.js?version={{version['id']}}"></script>
{% endfor %}


<body>

<div id="id01" class="w3-modal cats">
    <div id="id02" class="w3-modal-content cats1">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <form class="move">
                <h2>Categories</h2>
                {% for category in categories %}
                {% if category.category_id == 4 %}
                {% continue %}
                {% endif %}
                {% if category.count == 0 %}
                {% continue %}
                {% endif %}
                <p><a href="#{{category.category_id}}" onclick="document.getElementById('id01').style.display='none'">{{category.name}}</a>
                </p>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


<div id="loading" class="load">
    <div class="loading-dialog">
        <div class="loading-body">
            <h1 class="title">Loading</h1>
            <div class="rainbow-marker-loader"></div>
        </div>
    </div>
</div>
<!-- Navbar -->

<div class="w3-top">
    <button onclick="document.getElementById('id01').style.display='block'" id="moveTo" title="Go to top"><i
            class="fa fa-list-alt" aria-hidden="true"></i></button>
    <a href="#top" id="scrollBtn" title="Go to top"><i class="fa fa-angle-double-up w3-large"></i></a>
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
        <a id="toogle"
           class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"><i class="fa fa-home"></i></a>
        <a href="#create"
           class="w3-bar-item w3-green w3-large w3-button w3-padding-large  w3-hover-orange">
            <i class="fa fa-edit"></i>
        </a>

        <!-- Dynamic topics -->
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hide-small w3-padding-large w3-hover-orange">Dynamic content</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {% for link in topics %}
                {% if link.category_id == 4 %}
                <a target="_blank" href="{{link.link}}" class="track w3-bar-item w3-button w3-hover-orange">{{link.name}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="https://docs.google.com/document/d/1QhBJ5f19heubbUsKFssMeol7tSGDZ6DqotPGtx1EK1U/edit?usp=sharing"
           class="track w3-bar-item w3-hide-small w3-button w3-padding-large  w3-hover-orange" target="_blank"
           title="List of recommendations of practical and theoretical knowledges which Automation QA Engineer should have">AQA
            interview</a>

        <!-- Search -->
        <form action="/search" method="GET" class="w3-hide-small">
            <input class="w3-bar-item w3-input w3-right w3-hide-small  w3-large w3-padding-large w3-animate-input"
                   placeholder="Search.." style="width: 18%; max-width: 39%;" type="text" required name="search">
            <input type="submit" style="display:none;">
        </form>
        <form action="/search" method="GET" class="w3-hide-medium w3-hide-large">
            <input class="w3-bar-item w3-input w3-right w3-hide-large  w3-large w3-padding-large"
                   placeholder="Search.." style="width: 39%;" type="text" required name="search">
            <input type="submit" style="display:none;">
        </form>

    </div>
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        {% for link in topics %}
        {% if link.category_id == 4 %}
        <a href="{{link.link}}" target="_blank" class="track w3-bar-item w3-button w3-padding-large">{{link.name}}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Header -->
{% for t in tech %}
<header id="top" class="w3-container w3-teal w3-center block-top"
        style="padding-top:128px; padding-bottom:16px; background-image: url('static/images/{{t}}.gif')">
    {% endfor %}
    {% for message in messages %}
    {% if message['text'] != '' %}
    <div class="alert alert-warning alert-dismissible" style="margin-top:-50px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> {{message['text']}}.
    </div>
    {% endif %}
    {% endfor %}
    <div class="back">
        <h1 class="w3-margin w3-jumbo"><i class="fa fa-bug"></i> <span
                title="Automation Quality Assurance">AQA</span> TOPICS <i class="fa fa-bug"></i></h1>
        <h2 class="w3-xlarge">Useful links to improve yourself</h2>
        <h2 class="w3-large">(Don't be shy and add an interesting topic)</h2>
    </div>
    <div class='container w3-padding-32'>
        <button id="myBtn" class='pulse-button'>Latest</button>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="w3-large">Topics added by last 7 days</h2>
            </div>
            <div class="modal-body">
                <ul>
                    {% for topic in topics %}
                    {% if topic.is_new == True %}
                    <li class="w3-padding-5"><a class="w3-large track" href={{topic.link}} target="_blank"><span
                            style="color:grey;">[{{topic.category_name}}]</span> {{topic.name}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</header>


{% for category in categories %}
{% if category.category_id == 4 %}
{% continue %}
{% endif %}
{% if category.count == 0 %}
{% continue %}
{% endif %}
{% if category.index % 2 == 0 %}
<!-- First type -->
<div class="w3-row-padding w3-padding-64 w3-container block-middle" id="{{category.category_id}}">
    <div class="w3-content">
        <div class="w3-twothird">
            <h3 class="w3-xxxlarge">{{category.name}}</h3>
            <div>
                <input type="checkbox" class="read-more-state" id="post-{{category.category_id}}"/>
                <ul class="read-more-wrap">
                    {% for topic in topics %}
                    {% if topic.category_id == category.category_id %}
                    {% if topic.index < 10 %}
                    <li class="w3-padding-5">
                        <a class="w3-large track" href={{topic.link}}
                           target="_blank">{{topic.name}}</a>
                    </li>
                    {% else %}
                    <li class="w3-padding-5 read-more-target">
                        <a class="w3-large track" href={{topic.link}}
                           target="_blank">{{topic.name}}</a>
                    </li>
                    {% endif%}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if category.count > 10 %}
                <label for="post-{{category.category_id}}" class="read-more-trigger"></label>
                {% endif %}
            </div>
        </div>
        <div class="w3-third w3-center">
            <i class="{{category.icon}} w3-padding-32 w3-text-red" style="font-size: 100px"></i>
        </div>
    </div>
</div>
{% else %}
<!-- Second type -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container block-middle" id="{{category.category_id}}">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa {{category.icon}} w3-padding-32 w3-text-red w3-margin-right" style="font-size: 100px"></i>
        </div>
        <h3 class="w3-xxxlarge">{{category.name}}</h3>
        <div>
            <input type="checkbox" class="read-more-state" id="post-{{category.category_id}}"/>
            <ul class="read-more-wrap">
                {% for topic in topics %}
                {% if topic.category_id == category.category_id %}
                {% if topic.index < 10 %}
                <li class="w3-padding-5">
                    <a class="w3-large track" href={{topic.link}}
                       target="_blank">{{topic.name}}</a>
                </li>
                {% else %}
                <li class="w3-padding-5 read-more-target">
                    <a class="w3-large track" href={{topic.link}}
                       target="_blank">{{topic.name}}</a>
                </li>
                {% endif%}
                {% endif %}
                {% endfor %}
            </ul>
            {% if category.count > 10 %}
            <label for="post-{{category.category_id}}" class="read-more-trigger"></label>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<!-- Add topics -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-16 block-bottom">
    <h2 class="w3-large"> Wanna add new topic?</h2>
    <div id="create" class="w3-container"
         style="max-width:500px; display: block; margin-left: auto; margin-right: auto;">
        <form action="/add_topic" method="POST" class="w3-container">
            <input class="w3-input w3-margin-bottom" style="width=30px; color:black" type="text" maxlength="200"
                   name="Title"
                   placeholder="Enter title" required>
            <input class="w3-input w3-margin-bottom" style="width=30px; color:black" type="text" maxlength="200"
                   name="URL"
                   placeholder="Enter URL link" required>
            <label>Choose category</label>
            <select name="Categories" class="w3-select w3-margin-bottom" style="color:black">
                {% for category in categories %}
                <option value="{{category.category_id}}" style="color:black">{{category.name}}</option>
                {% endfor %}
            </select>
            <p>If you wanna add a new category, you can <a class="track"
                                                           href="mailto:roman.pobotin@gmail.com?subject=Category propose"
                                                           target="_blank">contact me</a>.</p>
            <input class="w3-btn w3-orange" type="submit" style="margin:10px;">
        </form>
    </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-center w3-opacity">
    <p><a href="https://github.com/Goraved" class="track" target="_blank">Goraved 2018</a></p>
</footer>
</body>
</html>
