<!DOCTYPE html>
<html lang="en">
<title>AQA Topics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-mfizz.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% for version in versions %}
<script src="static/js/main.js?version={{version['id']}}"></script>
{% endfor %}
<body>
<!-- Navbar -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-double-up w3-large"></i></button>
<div class="w3-top">
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"><i class="fa fa-home"></i></a>
        <button onclick="scrollWin()"
                class="w3-bar-item w3-hide-small w3-green w3-large w3-button w3-padding-large  w3-hover-orange">
            <i class="fa fa-edit"></i>
        </button>
        <button onclick="scrollWin()" class="w3-bar-item w3-green w3-hide-large w3-large w3-button w3-padding-large">
            <i class="fa fa-edit"></i>
        </button>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hide-small w3-padding-large w3-hover-orange">Dynamic content</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {% for link in topics %}
                {% if link['category_id'] == 4 %}
                <a href="{{link['link']}}" target="_blank" class="w3-bar-item w3-button w3-hover-orange">{{link['title']}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="https://docs.google.com/document/d/1NOUtWpXB6oGqi8QWtU-QDsM6-AxvBHNMwS9URKrcd38/edit"
           class="w3-bar-item w3-hide-small w3-button w3-padding-large  w3-hover-orange" target="_blank">AQA Tasks</a>
    </div>
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        {% for link in topics %}
        {% if link['category_id'] == 4 %}
        <a href="{{link['link']}}" target="_blank" class="w3-bar-item w3-button w3-padding-large">{{link['title']}}</a>
        {% endif %}
        {% endfor %}
        <a href="https://docs.google.com/document/d/1NOUtWpXB6oGqi8QWtU-QDsM6-AxvBHNMwS9URKrcd38/edit" target="_blank"
           class="w3-bar-item w3-button w3-padding-large">AQA Tasks</a>
    </div>
</div>
<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
    {% for message in messages %}
    {% if message['text'] != '' %}
    <div class="alert alert-warning alert-dismissible" style="margin-top:-50px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> {{message['text']}}.
    </div>
    {% endif %}
    {% endfor %}
    <h1 class="w3-margin w3-jumbo"><i class="fa fa-bug"></i> AQA TOPICS <i class="fa fa-bug"></i></h1>
    <p class="w3-xlarge">Useful links to improve yourself</p>
    <p class="w3-large">(Don't be shy and add an interesting topic)</p>
</header>
{% for category in categories %}
{% if category['id'] == 4 %}
{% continue %}
{% endif %}
{% if category['count'] == 0 %}
{% continue %}
{% endif %}
{% if category['index'] % 2 == 0 %}
<!-- First type -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>{{category['title']}}</h1>
            <ul style="list-style-type: none; -webkit-padding-start: 0px;">
                {% for topic in topics %}
                {% if topic['category_id'] == category['id'] %}
                <li class="w3-padding-5" style="-webkit-margin-before: 1em; -webkit-margin-after: 1em;"><a class="w3-large" href={{topic['link']}} target="_blank">{{topic['title']}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="w3-third w3-center">
            <i class="{{category['icon']}} w3-padding-32 w3-text-red" style="font-size: 100px"></i>
        </div>
    </div>
</div>
{% else %}
<!-- Second type -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa {{category['icon']}} w3-padding-32 w3-text-red w3-margin-right" style="font-size: 100px"></i>
        </div>
        <h1>{{category['title']}}</h1>
        <ul style="list-style-type: none; -webkit-padding-start: 0px;">
            {% for topic in topics %}
            {% if topic['category_id'] == category['id'] %}
            <li class="w3-padding-5" style="-webkit-margin-before: 1em; -webkit-margin-after: 1em;"><a class="w3-padding-16 w3-large" href={{topic['link']}} target="_blank">{{topic['title']}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endif %}
{% endfor %}
<div class="w3-container w3-black w3-center w3-opacity w3-padding-16">
    <h2> Wanna add new topic? </h2>
    <div class="w3-container" style="max-width:500px; display: block; margin-left: auto; margin-right: auto;">
        <form action="/add_topic" method="POST" class="w3-container">
            <input class="w3-input" style="width=30px; color:black" type="text" maxlength="200" name="Title"
                   placeholder="Enter title" required>
            <input class="w3-input" style="width=30px; color:black" type="text" maxlength="200" name="URL"
                   placeholder="Enter URL link" required>
            <label>Choose category</label>
            <select name="Categories" class="w3-select" style="color:black">
                {% for category in categories %}
                <option value="{{category['id']}}" style="color:black">{{category['title']}}</option>
                {% endfor %}
            </select>
            <p>If you wanna add a new category, you can <a
                    href="mailto:roman.pobotin@gmail.com?subject=Category propose" target="_blank">contact me</a>.</p>
            <input class="w3-btn w3-orange" type="submit" style="margin:10px;">
        </form>
    </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-center w3-opacity">
    <p><a href="https://github.com/Goraved" target="_blank">Goraved 2018</a></p>
</footer>
</body>
</html>